# The configuration file for ib.
#

[directory]

# where to look for input trade files.
input=C:\temp\40006 trades


# where to store converted files.
output=C:\temp\40006 trades\result



[email]

# the mail server address
server=192.168.16.185

# the mail sender
sender=itsupport@clamc.com.hk

# the mail recipients
recipents=steven.zhang@clamc.com.hk

# smtp timeout in seconds
timeout=15